<h1 class="mb-1 restaurant-show-title">{{restaurant.name}}</h1>
<div class="container">
  <div class="row">
    <div class="col-12 col-md-10 mx-auto">
      <form action="/restaurants/{{restaurant._id}}?_method=PUT" method="POST" id="editPageForm">
        <div class="form-group">
          <label for="category" class="col-form-label">
            <span class="text-secondary">
              類別：
            </span>
          </label>
          <select class="form-control" name="category" id="category">
            <option value="中東料理">中東料理</option>
            <option value="義式料理">義式料理</option>
            <option value="日本料理">日本料理</option>
            <option value="美式">美式</option>
            <option value="酒吧">酒吧</option>
            <option value="台菜">台菜</option>
            <option value="咖啡">咖啡</option>
          </select>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="address" class="col-form-label">
              <span class="text-secondary">
                地址：
              </span>
            </label>
            <input type="text" class="form-control mb-1" id="location" name="location" placeholder="請輸入地址"
              value="{{restaurant.location}}">
          </div>
          <div class="form-group col-md-6">
            <label for="address" class="col-form-label">
              <span class="text-secondary">
                Google Map 連結：
              </span>
            </label>
            <input type="text" class="form-control" id="google_map" name="google_map" placeholder="請輸入Google Map連結"
              value="{{restaurant.google_map}}">
          </div>
        </div>

        <div class="form-group">
          <label for="phone" class="col-form-label">
            <span class="text-secondary">
              電話：
            </span>
          </label>
          <input type="text" class="form-control" id="phone" name="phone" placeholder="電話" value="{{restaurant.phone}}">
        </div>
        <div class="form-group">
          <label for="description" class="col-form-label">
            <span class="text-secondary">
              餐廳簡介：
            </span></label>
          <textarea class="form-control" id="description" name="description" rows="4"
            placeholder="簡介">{{restaurant.description}}</textarea>
        </div>
        <div class="form-group">
          <label for="image" class="col-form-label">
            <span class="text-secondary">
              餐廳照片連結：
            </span>
          </label>
          <input type="text" class="form-control" name="image" id="category" placeholder="http://www.image.com"
            value="{{restaurant.image}}">
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
      </form>
    </div>
  </div>
</div>